name: build
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build_linux:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libnfs-dev liburing-dev build-essential libtool meson ninja-build pkg-config libcapstone-dev device-tree-compiler libglib2.0-dev gnutls-bin libjpeg-turbo8-dev libpng-dev libslirp-dev libssh-dev libusb-1.0-0-dev liblzo2-dev libncurses5-dev libpixman-1-dev libsnappy-dev vde2 zstd libgnutls28-dev libgmp10 libgmp3-dev lzfse liblzfse-dev
      - name: Build nettle 3.10.2
        run: |
          wget https://ftpmirror.gnu.org/gnu/nettle/nettle-3.10.2.tar.gz
          echo "fe9ff51cb1f2abb5e65a6b8c10a92da0ab5ab6eaf26e7fc2b675c45f1fb519b5 nettle-3.10.2.tar.gz" | sha256sum -c - || exit 1
          tar -xvf nettle-3.10.2.tar.gz
          cd nettle-3.10.2
          ./configure
          make -j$(nproc)
          sudo make install
      - name: Build
        run: |
          mkdir build
          cd build
          PKG_CONFIG_PATH=/usr/local/lib64/pkgconfig ../configure --target-list=aarch64-softmmu,x86_64-softmmu --enable-capstone --enable-slirp --enable-lzfse --enable-nettle --enable-gnutls --enable-curses --enable-libssh --enable-virtfs --enable-zstd --enable-gtk --enable-sdl --disable-werror
          make -j$(nproc)
      - name: Install
        run: |
          cd build
          make DESTDIR=$GITHUB_WORKSPACE/bin/ install
      - name: Publish binaries
        uses: actions/upload-artifact@v5
        with:
          name: linux
          path: ${{ github.workspace }}/bin/

